/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #a19ea8;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/* -------------------------------------------------------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  padding: 0 5.6%;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1390px) {
  [class*="__container"] {
    padding: 0 10%;
    max-width: 1290px;
    margin: 0 auto;
  }
  .booking__block_image {
    width: 50%;
  }
  .block__image_smoll {
    display: none;
  }
  .rooms__block_text {
    font-size: 20px;
  }
}
/*-----------Tablet--------------*/
@media (max-width: 991.98px) {
  [class*="__container"] {
    padding: 0 2%;
    max-width: 900px;
    margin: 0 auto;
  }
  .block__image_smoll {
    display: none;
  }
  .booking__block_image {
    width: 50%;
  }
  .rooms__block_text {
    font-size: 20px;
  }
}
/*-----------Mobail--------------*/
@media (max-width: 767.98px) {
  [class*="__container"] {
    padding: 0 2%;
    max-width: 700px;
    margin: 0 auto;
  }
  .block__image_smoll {
    display: none;
  }
  .booking__block_image {
    width: 50%;
  }
}
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #f4694c;
  height: 117px;
  line-height: 117px;
}
.header__container {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 46px;
}
.menu__link {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header__button {
  margin-right: 100px;
}
.button__header {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 33px;
  font-weight: 600;
  padding: 12px 18px 14px 16px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #f4694c;
  color: #ffffff;
  font-size: 16px;
}
.button__header:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------------------------------------------------------------*/
main {
  margin-top: 117px;
}
.main__image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url(https://cdnb-mws1.mouzenidis.com/userfiles/hotels/original/799/799_lreucsnd.nlc.jpg);
  background-color: #2d312f;
  width: 100%;
  height: 882px;
}
.image__background {
  height: 100%;
  width: 100%;
  background: rgba(20, 39, 74, 0.5);
}

.block__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding-top: 131px;
  color: #ffffff;
}
.block__hotel-name {
  margin-top: 19px;
  width: 756px;
  font-weight: 700;
  font-size: 154px;
  line-height: 0.75;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.block__text {
  font-family: "Montserrat", sans-serif;
  margin-top: 19px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  width: 500px;
  color: #ffffff;
}
.block__button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 46px;
  padding: 27px 54px 22px 57px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  background: #f4694c;
  border-radius: 10px;
  color: #ffffff;
}
.block__button:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------------------------------------------*/
.booking__block__container {
  width: 90%;
  display: flex;
  margin: auto;
}
.booking__block_image {
  display: flex;
  width: 70%;
  margin-top: 92px;
  height: 697px;
  line-height: 697px;
}
.block__image_big {
  background-size: cover;

  background: url(https://i.ccdn.hu/acm/14/276093/l15.jpg) no-repeat center
    center;
  background-color: #2d312f;
  width: 432px;
  height: 100%;
}
.block__image_smoll {
  margin: auto;
  margin-left: 22px;
  background: url(https://www.hotrec.eu/wp-content/uploads/2018/04/accessibility.jpg)
    no-repeat right center;
  background-size: cover;
  background-color: #2d312f;
  width: 299px;
  height: 551px;
}
.booking__block_main {
  padding: 25px;

  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.block_main__header {
  font-family: "Poppins", sans-serif;
  width: 330px;
  font-weight: 700;
  font-size: 36px;
}
.block_main__text {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  width: 370px;
  font-weight: 400;
  font-size: 21px;
}
.block_main__button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 46px;
  padding: 27px 54px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  background: #f4694c;
  border-radius: 10px;
  color: #ffffff;
}
.block_main__button:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------*/
.choose__block__container {
  margin-top: 109px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choose__block_header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.choose__block_text {
  margin: 16px 0 85px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.choose__block_rooms {
  margin-bottom: 86px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.too__block_rooms {
  display: flex;
  justify-content: space-around;
}
.room__card {
  display: flex;
  margin: 0 40px;
  margin-bottom: 20px;
  width: 277px;
  height: 367px;
  /* background: url(https://www.hotrec.eu/wp-content/uploads/2018/04/accessibility.jpg)
    no-repeat right center; */
  background-size: cover;
  background-color: #2d312f;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.choose__block_button {
  display: flex;
  margin: auto;
}
.choose__button {
  margin-right: 40px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: rgb(150, 150, 150);
  background-color: transparent;
  font-size: 50px;
}
.choose__button:hover {
  color: #f58974;
}
.room__card_data {
  padding-left: 22px;
  text-align: left;
  background-color: #ffffff;
  width: 100%;
  height: 35%;
  margin-top: 87%;
  border-radius: 0 0 20px 20px;
}
.card__data_header {
  margin-top: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.card__data_star {
  color: #f7d306;
  font-size: 21px;
  margin-right: 10px;
}
.ball__block {
  margin-top: 10px;
  display: flex;
}
.card__data_ball {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  margin-top: 3px;
}
.room__card_button {
  cursor: pointer;
  border-radius: 2px;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background: #f4694c;
  padding: 12px 14px 7px 15px;
  color: #ffffff;
}
.room__card_button:hover {
  background-color: #f58974;
}
.customer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.customer__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.customer__header {
  margin-top: 97px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.customer__cards_box {
  display: flex;
  margin-top: 45px;
}
.customer__card {
  margin-bottom: 46px;
  padding: 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 190px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.customer__card_title {
  display: flex;
}
.customer__title_image {
  background-color: #a19ea8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.customer__title_data {
  text-align: left;
  margin-left: 19px;
  margin-right: 98px;
}
.customer__name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
}
.customer__live {
  margin-top: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
}
.customer__title_star {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ea9459;
}
.customer__card_text {
  margin-top: 27px;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.customer__button {
  margin-bottom: 94px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: #f4694c;
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.customer__button:hover {
  color: #ac1f02;
}
.rentout__block__container {
  height: 385px;
  margin: 0 91px;
  background: url(https://lirp.cdn-website.com/d53f4b3f99b243199fef237ca82e5c97/dms3rep/multi/opt/ThinkstockPhotos-178971294-1920w.jpg)
    no-repeat right center;
  background-size: cover;
  background-color: #2d312f;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rentout__block_header {
  margin-top: 66px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}
.rentout__block_text {
  margin-top: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.rentout__block_button {
  border-radius: 10px;
  margin-top: 56px;
  cursor: pointer;
  width: 230px;
  padding: 22px 39px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #0a0a0a;
}
.rentout__block_button:hover {
  background-color: #505050;
}
.footer__box__container {
  display: flex;
  margin-top: 49px;
}
.footer__main {
  margin-right: 191px;
}
.footer__main_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  letter-spacing: 0.005em;
  color: #323232;
}
.footer__main_text {
  margin-top: 16px;
  width: 290px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #626262;
}
.footer__link {
  margin-right: 191px;
  margin-bottom: 53px;
}
.footer__link_header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.footer__link_text {
  margin-top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer__endbox {
  display: flex;
  height: 62px;
  background-color: #f4694c;
}
.endbox__copiryte {
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.endbox__icon {
  margin: auto;
}
.footer__svg {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.footer__svg__path {
  fill: #ffffff;
}
.footer__svg__pathin {
  fill: #f4694c;
}
/*---------------------ROOMS FILE-------------------------------------*/
.main__rooms_block {
  display: flex;
}
.rooms__block_image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.messinialive.gr/wp-content/uploads/2018/07/ROOM-TO-LET-BY-THE-SEA-1000x600.jpg);
  background-color: #2d312f;
  width: 950px;
  height: 572px;
}
.rooms__block_text {
  text-align: center;

  margin: auto;
  padding: 74px 22px;
  margin-left: -100px;
  width: 618px;
  height: 420px;
  background-color: #323232;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #ffffff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
/*---------------------------------FACILITIES---------------------------------*/
.facilities__box__container {
  display: flex;
  flex-direction: column;
}
.fatilities__header {
  margin: auto;
  margin-top: 76px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f4694c;
}
.facilities__text {
  margin-top: 15px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 250;
  font-size: 25px;
  color: #626262;
}
.facilities__image {
  display: flex;
  margin-top: 50px;
  margin-bottom: 200px;
  height: 972.87px;

  background-color: #2d312f;
}

.fatilities__button {
  cursor: pointer;
  margin: auto;
  margin-top: 900px;
  width: 573.3px;
  height: 203.51px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  background-color: #f4694c;
}
.fatilities__button:hover {
  background-color: #f58974;
}
/*--------------------------------------CONTACTUS----------------------------------------------*/

.maps__image {
  object-fit: cover;
  width: 100%;
  height: 535px;
  margin-bottom: 100px;
}
