/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #a19ea8;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
/* -------------------------------------------------------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
[class*="__container"] {
  padding: 0 5.6%;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1390px) {
  [class*="__container"] {
    padding: 0 10%;
    max-width: 1290px;
    margin: 0 auto;
  }
  .booking__block_image {
    width: 50%;
  }
  .block__image_smoll {
    display: none;
  }
}
/*-----------Tablet--------------*/
@media (max-width: 991.98px) {
  [class*="__container"] {
    padding: 0 2%;
    max-width: 900px;
    margin: 0 auto;
  }
  .block__image_smoll {
    display: none;
  }
  .booking__block_image {
    width: 50%;
  }
}
/*-----------Mobail--------------*/
@media (max-width: 767.98px) {
  [class*="__container"] {
    padding: 0 2%;
    max-width: 700px;
    margin: 0 auto;
  }
  .block__image_smoll {
    display: none;
  }
  .booking__block_image {
    width: 50%;
  }
}
.header {
  background-color: #f4694c;
  height: 117px;
  line-height: 117px;
}
.header__container {
  display: flex;
  justify-content: flex-end;
}
.menu {
}
.header__menu {
}
.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 46px;
}
.menu__link {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header__button {
  margin-right: 292px;
}
.button__header {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 33px;
  font-weight: 600;
  padding: 12px 18px 14px 16px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #f4694c;
  color: #ffffff;
  font-size: 16px;
}
.button__header:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------------------------------------------------------------*/
.main__image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: url(https://cdnb-mws1.mouzenidis.com/userfiles/hotels/original/799/799_lreucsnd.nlc.jpg);
  background-color: #2d312f;
  width: 100%;
  height: 882px;
}
.image__background {
  height: 100%;
  width: 100%;
  background: rgba(20, 39, 74, 0.5);
}
.main__image_block {
}
.block__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding-top: 131px;
  color: #ffffff;
}
.block__hotel-name {
  margin-top: 19px;
  width: 756px;
  font-weight: 700;
  font-size: 154px;
  line-height: 0.75;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.block__text {
  font-family: "Montserrat", sans-serif;
  margin-top: 19px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  width: 500px;
  color: #ffffff;
}
.block__button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 46px;
  padding: 27px 54px 22px 57px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  background: #f4694c;
  border-radius: 10px;
  color: #ffffff;
}
.block__button:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------------------------------------------*/
.booking__block__container {
  width: 90%;
  display: flex;
  margin: auto;
}
.booking__block_image {
  display: flex;
  width: 70%;
  margin-top: 92px;
  height: 697px;
  line-height: 697px;
}
.block__image_big {
  background-size: cover;

  background: url(https://i.ccdn.hu/acm/14/276093/l15.jpg) no-repeat center
    center;
  background-color: #2d312f;
  width: 432px;
  height: 100%;
}
.block__image_smoll {
  margin: auto;
  margin-left: 22px;
  background: url(https://www.hotrec.eu/wp-content/uploads/2018/04/accessibility.jpg)
    no-repeat right center;
  background-size: cover;
  background-color: #2d312f;
  width: 299px;
  height: 551px;
}
.booking__block_main {
  padding: 25px;

  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.block_main__header {
  font-family: "Poppins", sans-serif;
  width: 330px;
  font-weight: 700;
  font-size: 36px;
}
.block_main__text {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  width: 370px;
  font-weight: 400;
  font-size: 21px;
}
.block_main__button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 46px;
  padding: 27px 54px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  background: #f4694c;
  border-radius: 10px;
  color: #ffffff;
}
.block_main__button:hover {
  background-color: #f58974;
}
/*-------------------------------------------------------*/
.choose__block__container {
  margin-top: 109px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choose__block_header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.choose__block_text {
  margin: 16px 0 85px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.choose__block_rooms {
  margin-bottom: 86px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.too__block_rooms {
  display: flex;
  justify-content: space-around;
}
.room__card {
  margin: 0 40px;
  margin-bottom: 20px;
  width: 277px;
  height: 367px;
  background: url(https://www.hotrec.eu/wp-content/uploads/2018/04/accessibility.jpg)
    no-repeat right center;
  background-size: cover;
  background-color: #2d312f;
  border-radius: 20px;
}
.choose__block_button {
  display: flex;
  margin: auto;
}
.choose__button {
  margin-right: 40px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: 50px;
}
